
@{
    ViewBag.Title = "ConfirmPurchase";
}

<h1 style="text-align:center">Achat confirmé</h1>
<h3 style="text-align:center">Retour au magasin dans quelques instants...</h3>
<meta http-equiv="refresh" content="3;url= ~/Magasin" />
<h5 style="text-align:center">Cliquez @Html.ActionLink("ici", "Index", "Magasin") si la redirection ne fonctionne pas.</h5>




