
@{
    ViewBag.Title = "Purchase";
}


<h2>@ViewBag.album.Titre</h2>
<ul>
    @foreach (var tune in ViewBag.tunes)
    {
        <li><a href="~/Tunes/Details/@tune.ID">@tune.Titre</a></li>
    }
</ul>

<form>
    Numéro de carte bancaire: <input type="text" name="num"><br>
    Date d'expiration: <input type="text" name="exp"><br>
    Cryptogramme visuel: <input type="text" name="crypt"><br>
</form>
<form action="~/Albums/ConfirmPurchase">
    <input type="submit" value="Submit">
</form> 


<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>