
@{
    ViewBag.Title = "Magasin";
}

<h2>Magasin</h2>

<form id="frmsearch" action="~/Magasin/Search" method="get">
    <input id="search" name="search" style="width:275px;" />
    <input id="submit" name="submit" type="submit" style="font-weight:bold;" value="Chercher" />
</form>


@foreach ( var music in ViewBag.Tunes)
{
    <h3><a href="~/Tunes/Details/@music.ID">@music.Titre</a></h3>
}
